@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100&family=Vollkorn:wght@400;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    color: #323232;
    border: none;
}

textarea:focus, input:focus{
    outline:none;
}

a {
    font-size: .8rem;
}

a:hover{
    color: #70747A;
}

/* container login */

.login-container {
    background-color: #2cc76a;
    width:400px;
    margin-left:auto;
    margin-right:auto;
    padding: 20px 30px;
    margin-top: 10vh;
    border-radius: 10px;
    text-align: center;
}

/* formulario */

form{
    margin-top: 30px;
    margin-bottom: 40px;
}

label, input{
    display: block;
    width: 100%;
    text-align: center;
}

label {
    font-weight: bold;
    font-size: .8rem;
}

input{
    border-bottom: 2px solid #70747A;
    padding: 10px;
    font: 1rem;
    margin-bottom: 20px;
}

input:focus {
    border-bottom: 2px solid #36384C;
}

#forgot-pass {
    text-align: center;
    display: block;
}

input[type="submit"] {
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    border: none;
    height: 40px;
    border-radius: 20px;
    margin-top: 30px;
    color: #fff;
    background-color: #36384C;
    cursor: pointer;
}

input[type="submit"]:hover{
    background-color: #1b223c;
    transition:0.5s;
}

/* rede social buttons */

#social-container, #social-container p{
    margin-bottom: 20px;
}

#social-container i {
    width:40px;
    HEIGHT: 40px;
    border-radius: 50%;
    line-height: 40px;
    color:#fff;
    margin: 0 5px;
    cursor: pointer;
}

.fab.fa-facebook-f {
    background-color: #3b5998;
}

.fa-linkedin{
    background-color: #0077b5;
}

/* registro */

#register-container p {
    margin-bottom: 10px;
}